.nav {
    display: flex;
    justify-content: space-around;
    background: rgb(160, 160, 160);
    min-height: 5vh;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}