.recipe {
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 5px 20px #3e3d3e;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    align-items: center;
    width: 60%;
    padding: 10px;
}

.title {
    font-weight: bold;
}

.image {
    scale: 50%;
    border-radius: 15px;
}

.list {
    padding: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
}

.calories {
    padding: 10px;
    font-style: italic;
}